body {
    background-color: rgb(85, 193, 214);
}


img {
    width: 239px;
    height: 220px
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    background-color: rgb(9, 94, 96);
    align-items: center;
}

.container {
    display: flex;
}

.cards {
    border: 1px dotted black;
    background-color: rgb(107, 203, 203);
}

.famous {
    display: flex;
    background-color: rgb(35, 144, 164);

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    margin-top: 47px;
    margin-bottom: -64px;
}